<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><b>{{title}}</b></ion-title>
    <ion-buttons slot="end">
      <ng-container [ngTemplateOutlet]="toolbarContentRight"></ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-content></ng-content>
