<ng-container *ngIf="(store.hasUserInfo | async) then loggedInTemplate else loggedOutTemplate"></ng-container>
<ng-template #loggedInTemplate>
  <ion-item color="primary">
    <ion-button id="usernameButton">
      <ion-icon name="person"></ion-icon>
      <div style="margin-left: 16px; margin-right: 4px">{{(store.getUserInfo() | async).username}}</div>
      <ion-icon name="chevron-down-sharp"></ion-icon>
    </ion-button>
    <ion-popover trigger="usernameButton"
                 triggerAction="click"
                 [dismissOnSelect]="true"
    >
      <ng-template>
        <ion-content>
          <ion-list lines="none">
            <ion-item [button]="true" [detail]="false" (click)="handleLogout()">
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-item>
</ng-template>
<ng-template #loggedOutTemplate>
  <ion-item color="primary">
    <ion-button id="signUpButton"
                (click)="handleSignUp()"
                size="small"
                color="tertiary"
                fill="solid"
    >
      Sign Up
    </ion-button>
    <ion-button id="logInButton"
                (click)="handleLogin()"
                size="large"
                color="secondary"
                fill="solid"
    >
      Log In
    </ion-button>
  </ion-item>
</ng-template>
