@import "../../../common/style";
@import "../../../common/layout";

.login-panel-container {
  width: $min-phone-width;
  height: 500px;
  align-content: center;
}

.login-panel-item {
  margin-bottom: $content-padding-md;
  width: 100%;
}

.login-panel-divider {
  margin-bottom: 30px;
  width: 90%;
}

