<miyako-small-centered-panel-layout>
  <ion-card class="login-panel-container center-content">
    <div>
      <ion-item lines="full" shape="round" class="login-panel-item">
        <ion-input placeholder="Username"></ion-input>
      </ion-item>
      <ion-item lines="full" shape="round" class="login-panel-item">
        <ion-input placeholder="Password"></ion-input>
      </ion-item>
      <ion-button color="secondary" class="login-panel-item">Log In</ion-button>
      <div class="login-panel-item center-content">
        <a>Forgot password?</a>
      </div>
      <div class="center-content">
        <ion-item-divider class="login-panel-divider"></ion-item-divider>
      </div>
      <ion-button color="tertiary" class="login-panel-item">Create a New Account</ion-button>
    </div>

  </ion-card>
</miyako-small-centered-panel-layout>
