<ion-split-pane contentId="main"
                [style.--side-max-width]="maxSideWidth"
>
  <!--  the side menu  -->
  <ion-menu contentId="main" [side]="panelAlignment">
    <ion-header *ngIf="hasHeader">
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [scrollEvents]="true" [fullscreen]="true">
      <div class="side-panel-container">
        <ng-container [ngTemplateOutlet]="sidePanel"></ng-container>
      </div>
    </ion-content>
  </ion-menu>

  <!-- the main content -->

  <ion-content [scrollEvents]="true" [fullscreen]="true" id="main">
    <ion-header *ngIf="hasHeader">
      <ion-toolbar></ion-toolbar>
    </ion-header>
    <div class="main-content-container">
      <ng-container [ngTemplateOutlet]="contentPanel"></ng-container>
    </div>
  </ion-content>
</ion-split-pane>


