<ng-container [ngTemplateOutlet]="getActiveTemplate()"></ng-container>
<ng-template #login>
  <miyako-login-page></miyako-login-page>
</ng-template>
<ng-template #signUp>
  <miyako-sign-up-page></miyako-sign-up-page>
</ng-template>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>
