<ion-content [fullscreen]="true">
  <ion-grid class="ion-grid-overrides">
    <ion-row>
      <ion-col
        sizeXs="0"
        sizeSm="0"
        sizeMd="1"
        sizeLg="2"
        sizeXl="3"
        class="ion-col-overrides"
      >
      </ion-col>
      <ion-col
        sizeXs="12"
        sizeSm="12"
        sizeMd="10"
        sizeLg="8"
        sizeXl="6"
        class="ion-col-overrides"
      >
        <div class="center-content content-container">
          <ng-content></ng-content>
        </div>
      </ion-col>
      <ion-col
        sizeXs="0"
        sizeSm="0"
        sizeMd="1"
        sizeLg="2"
        sizeXl="3"
        class="ion-col-overrides"
      >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
