@import "../../common/style";
@import "../../common/layout";


.ion-grid-overrides {
  --ion-grid-padding: 0px;
  height: 100%;
}

.ion-col-overrides {
  --ion-grid-column-padding: 0px;
}

.content-container {
  padding: $content-padding-lg;
}
